<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<!-- thymleaf utilse html5 donc toutes les balises doivent etre férmé -->
<meta charset="utf-8"/>
<title>gestion location</title>
</head>




<body>
<h3>Test</h3>
<!-- 
<table border="1">
<thead>
<tr th:each="v :${listVehicules}"> 
<td th:text="${v.id}"></td>
<td th:text="${v.marque}"></td>
<td th:text="${v.couleur}"></td>


</tr>

</thead>
<tbody>
<tr></tr>
<tr></tr>

</tbody>


</table>
-->


</body>
</html>